<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div class="center-block" align="center">
  <p align="center">LOGIN</p>
    <form novalidate [formGroup]="form">
      <div class="form-group" [class.error]="(form.controls.name.invalid && form.controls.name.touched)">
            <input type="text" formControlName="name"/>
        </div>
        <div class="form-group" [class.error]="(form.controls.password.invalid && form.controls.password.touched)">
          <input type="password" formControlName="password"/>
      </div>
      <button class="btn" (click)="submitForm()">Submit</button>
    </form>
</div>
