@font-face {
   font-family: myFirstFont;
   src: url(../fonts/CrimeBold.ttf);
}
@font-face {
   font-family: mySecondFont;
   src: url(../fonts/CrimeRegular.ttf);
}
@font-face {
   font-family: myThirdFont;
   src: url(../fonts/PalookaBold.otf);
}

thead>tr>th {
    cursor: pointer;
}

td {
  background-image: url(./profile-bg-default.gif);
  background-size: 100% 100%;
  text-align: left;
  color: white;
}

button:hover{
  color: white;
}

.table{
   border-spacing: 15px;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}

a:hover{
  color: white;
}

img{
  width: 150px;
  height: 150px;
}

.tr-name
{
  font-size: 3em;
}

.hero-name
{
  font-family: myThirdFont;
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px #999999;
}

.bg-marvel
{
  background-image: url(./2000px-MarvelLogo2.png);
  width: 300px;
  height: 121px;
  background-repeat: no-repeat;
  margin-left: 130px;
}

.nav-marvel{
  display: inline-block;
  margin: 0;
  width: 100%;
  background-color: black;
  font-size: 25px;
  color: black;
  margin-bottom: 30px;
}


.btn{
    display: inline;
    float: right;
    font-size: 25px;
    background-color: black;
    color: red;
    margin-top: 30px;
    margin-right: 135px;
}
